.wrapper{
  display: flex;
  flex-direction: column;
}
.header, .footer{
  background-color: #0F1128;
  color: #eee;
}

.body{
  min-height: 80vh;
  background-color: #F5ECEC;
  padding-bottom: 1rem;
}
.wp{
  display: grid;
  grid-template-columns: 1fr 6fr;
  max-width: 120rem;
  margin: 0 auto;
}
.content{
  overflow: hidden;
  background-color: #ebe6e6;
  margin-top: 1rem;
  border-radius: 4px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

.footer{
  min-height: 10vh;
}