.wp{
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.title{
  background-color: #fff;
  border: none;
  color: #60678A;
  font-weight: 600;
  font-size: 1.8rem;
  padding: 1.2rem;
  width: 100%;
  border-bottom: 3px solid #BFC3D4;
  text-align: left;
}

.novelList{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  margin-bottom: 3rem;
  row-gap: 4rem;
}

.more{
  display: inline-block;
  align-self: flex-end;
  margin-right: 2rem;
  margin-left: auto;
  text-decoration: none;
  font-weight: 600;
}
.more::after{
  content: ' >';
}

.more:hover,.more:active{
  color: #FC6B9E;
}